.content {
    margin-left: 195px;
    margin-top: 40px;
    display: block;
    width: 30%;
}

.contentHeading {
    color: aliceblue;
    font-size: 80px;
    font-family: serif;
}

.contentFlex {
    display: flex;
}
.image {
    margin-left: 200px;
}
.imgpic {
    border-radius: 160px;
}